parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        # Overrides a private KernelTrait method that the trait itself calls.
        -
            identifier: method.unused
            path: src/Kernel.php
